<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- This section is to configure IIS to serve static files in your Django app. -->
      <add name="StaticFile" path="static/*" verb="*" modules="iisstaticfile" resourceType="Unspecified" />
    </handlers>

    <security>
      <requestFiltering>
        <!-- This section is to allow serving static files with extensions like .css, .js, etc. -->
        <fileExtensions>
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".js" allowed="true" />
          <!-- Add more file extensions as needed -->
        </fileExtensions>
      </requestFiltering>
    </security>

    <!-- This section is to rewrite requests to the Django application. -->
    <rewrite>
      <rules>
        <rule name="Django" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="Dashboard.wsgi" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
