{% extends "CairoCoinPlus/layout.html" %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center" style="height: calc(100vh - 150px);">
        <div class="text-center">
            <h1 class="display-3">Welcome to Cairo Coin Plus</h1>
            <p class="lead">Your API to Track Egypt Pound Markets</p>
            <div class="mt-5">
                <a href="{% url 'register' %}" class="btn btn-dark btn-lg mr-3">Getting Start</a>
                <a href="{% url 'index' %}" class="btn btn-outline-dark btn-lg">Explore the Docs</a>
            </div>
        </div>
    </div>
{% endblock %}
